# Listas
*Son contenedores que permiten almacenar una colección de objetos en un orden determinado. Se pueden acceder, añadir o eliminar objetos de forma sencilla.*

In [1]:
L1=[] # Lista vacía

In [2]:
L2=['a','e','i', 'o', 'u'] # Lista con valores iniciales

In [3]:
L3=[2,3,5,7,11] # Lista con valores enteros

In [6]:
L4=['a',5, True, 'Alonso Pizarro Lagunas']  # LIsta heterogénea

In [7]:
L4

['a', 5, True, 'Alonso Pizarro Lagunas']

In [32]:
L5 = [0]*10

In [9]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [10]:
L4[0] # las listas de python comienzan en cero

'a'

In [11]:
L4[1]

5

In [33]:
L5[4] = 3.1455

In [34]:
L5

[0, 0, 0, 0, 3.1455, 0, 0, 0, 0, 0]

In [16]:
L5[0:2] # comienza en el cero pero no última

[0, 0]

In [35]:
L5[1:4] = [1,2,3]
L5

[0, 1, 2, 3, 3.1455, 0, 0, 0, 0, 0]

In [36]:
L5.append(8) # añdir un número con append

In [20]:
L5

[0, 1, 2, 3, 3.1455, 0, 0, 0, 0, 0, 8]

In [21]:
L5.remove(3)  # REmovemos la ocurrencia la primera ocurrencia del valor asignado
L5

[0, 1, 2, 3.1455, 0, 0, 0, 0, 0, 8]

In [25]:
L5.reverse() # invertir el orden de la lista con lista.reverse()

In [26]:
L5

[8, 0, 0, 0, 0, 0, 3.1455, 2, 1, 0]

In [27]:
L5.count(0) # cuenta la cantidad de veces que se encuentra el elemento en la lista

6

In [28]:
L5.index(2) # La posición en que se encuentra ese elemento

7

In [29]:
len(L5) # len() nos entrega la longitud del vector

10

In [2]:
L = [1,2,3,4,5,6]

In [32]:
L[1::2] # selecciono los elementos de dos en dos a partir del la primera posición

[2, 4, 6]

In [33]:
L[:] # Seleccionar toda la lista

[1, 2, 3, 4, 5, 6]

In [35]:
L[::2] # extraemos elementos de una lista en posición par

[1, 3, 5]

In [36]:
L[-1]  # seleccionar el último de los elementos de la lista

6

In [37]:
8 in L # para saber si el número está en la lista

False

In [38]:
4 in L

True

# Bucles 
*Bucles para recorrer listas*

Los bucles **for** iteran sobre una colección (una lista, un string, un objeto iterable)

In [3]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [6]:
for x in range(0,10): #range(10): range(0,10)
    print(x)

0
1
2
3
4
5
6
7
8
9

In [7]:
for c in 'Alonso Pizarro':
    print(c)

A
l
o
n
s
o

P
i
z
a
r
r
o

In [11]:
notas = [3.5, 6.7,8,9,4.5]
suma = 0
for nota in notas:
    suma = suma + nota
print(suma/len(notas))

6.34

Bucle **while** se repite hasta que la condición booleana dejar de ser cierta

In [12]:
count=0
while count < 10:
    print(count)
    count = count + 1  # también podemos hacer count += 1

0
1
2
3
4
5
6
7
8
9

In [15]:
primos = [2,3,5,7,11,13,17,19,23,29]
for idx, p in enumerate(primos):          # idx es de índice
        print(idx, p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [17]:
for idx in range(len(primos)):
    print(idx, primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

Mirar criba de eratóstenes

# Tupla
*Es una colección de objetos que no puede modificarse (tiene tamaño y contenido fijo)*

In [18]:
p1 = (1)  # una tupla se declara con paréntesis

In [19]:
p1

1

In [20]:
p2 = (1,2,3,4)
p2

(1, 2, 3, 4)

In [21]:
p3 = (1,2,'c', 3.14)
p3

(1, 2, 'c', 3.14)

In [22]:
p3[3]

3.14

In [23]:
p3[0:2]

(1, 2)

In [24]:
a,b,c,d = p3

In [25]:
a

1

In [26]:
b

2

In [27]:
c

'c'

In [28]:
d

3.14

In [29]:
l3 = list(p3)

In [30]:
l3

[1, 2, 'c', 3.14]

In [38]:
p5 = tuple(L5) # tuple transformo una lista en una tupla
p5

(0, 1, 2, 3, 3.1455, 0, 0, 0, 0, 0, 8)

In [39]:
"Hola que tal estás".split(" ")  # split para dividir el split

['Hola', 'que', 'tal', 'estás']

*Hacer un programa que permita leer una colección de número separadas por coma, los conviertta en lista y los muetsra como una tupla*

In [40]:
coleccion = input("Escriba una colección de números separadas por coma, ej: 1,2,3,8 :")
Lista = coleccion.split(",")
tupla = tuple(Lista)
tupla

Escriba una colección de números separadas por coma, ej: 1,2,3,8 10,88,44,598,1,9,0,-15

('10', '88', '44', '598', '1', '9', '0', '-15')

In [45]:
suma = 0            # haciendo un promedio de los número de la tupla
for n in tupla:
    suma = suma + int(n)
    
print(suma/len(tupla))

91.875

# Diccionarios 
*Colección no ordenada de pares de valores: claves <->valores. Se indexe no por posición, sino utilizando las claves*

In [47]:
nombre = input("introduce tu nombre")
print("Hola %s"%nombre)

introduce tu nombrealonso
Hola alonso

In [50]:
print("Estos son los números primos: %s"%primos) # uso de %s para concatenar una lista

Estos son los números primos: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [52]:
print("Esto es un número: %d"%suma)  # uso de %d para concatenar un  número entero

Esto es un número: 735

In [53]:
media = suma/len(tupla)
print("Esto es un número decimal %f"%media)

Esto es un número decimal 91.875000

In [55]:
media = suma/len(tupla)
print("Esto es un número decimal %.2f"%media) # indicarle los números decimales anteponiendo un número y un punto a f

Esto es un número decimal 91.88

In [56]:
edad = {"Alonso Pizarro": 30, "María": 20, "Ricardo": 30, "Antonio":45} # primer diccinario, no hay concepto de orden

In [59]:
edad["Alonso Pizarro"] = 41 # Modifando una edad

In [60]:
edad

{'Alonso Pizarro': 41, 'María': 20, 'Ricardo': 30, 'Antonio': 45}

In [61]:
edad.keys()  # acceder a claves

dict_keys(['Alonso Pizarro', 'María', 'Ricardo', 'Antonio'])

In [62]:
edad.values()

dict_values([41, 20, 30, 45])

In [63]:
len(edad)  # longitud del diccionario

4

In [64]:
"María" in edad   # usamos esta sintaxis para saber si el string está en nuestro diccionario

True

In [66]:
"Juan" in edad

False

In [67]:
"Juan" not in edad

True

In [68]:
del edad["María"]  # con del podemos eliminar una elemento del dicc

In [70]:
edad

{'Alonso Pizarro': 41, 'Ricardo': 30, 'Antonio': 45}

In [71]:
notas = {"Al1" : 5.6, "Al2":7.5, "Al3":10, "Al4": False}

In [72]:
notas

{'Al1': 5.6, 'Al2': 7.5, 'Al3': 10, 'Al4': False}