# Assigment 9: Ejercicio completo de data frames

*Carga el CSV de la carpeta de datos del tema llamado run.csv y responde a las siguientes preguntas.*

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [14]:
df = pd.read_csv("../data/run.csv", index_col= [0])
df

,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
1,48,54,no,si,H,68.0,150,nula
2,54,56,no,si,H,69.0,145,moderada
3,54,50,no,no,H,69.0,160,moderada
4,58,70,si,no,H,72.0,145,moderada
5,58,58,no,no,H,66.0,135,intensa
...,...,...,...,...,...,...,...,...
88,92,94,no,si,H,69.0,150,moderada
89,94,92,no,si,M,62.0,131,moderada
90,96,140,si,no,M,61.0,140,moderada
91,96,116,si,no,M,68.0,116,moderada
92,100,115,si,si,M,63.0,121,moderada

*1.Indica cuantos estudiantes formaron parte del estudio de deporte*

In [5]:
df.shape # en total fueron 92 estudiantes

(92, 8)

*2. Indica cuantos individuos son hombres y cuantos son mujeres*

In [9]:
df.groupby('genero').count() # 57 hombres y 35 mujeres

,pulso.antes,pulso.despues,hace.deporte,fuma,altura,peso,tipo.actividad
genero,,,,,,,
H,57,57,57,57,57,57,57
M,35,35,35,35,35,35,35

*3.Calcula el porcentaje medio de variaciÃ³n del pulso por minuto entre antes y despuÃ©s de hacer ejercicio y compara el valor de los que hacen ejercicio habitualmente y los que no. Â¿Observas mucha diferencia?*

In [13]:
df.groupby('hace.deporte').mean()  # entre los que no hacen deporrte no har diferencia, lo contrario entre los que sÃ­ hacen dep.

              pulso.antes  pulso.despues     altura        peso
hace.deporte
no              72.421053      72.315789  68.065789  141.122807
si              73.600000      92.514286  69.778571  151.714286

In [22]:
# Voy a crear una nueva variable llamada variacion media

df['var.por.media'] = (df['pulso.despues'] - df['pulso.antes'])/ df['pulso.antes'] * 100
df.head(4)

df.groupby('hace.deporte').mean()

              pulso.antes  pulso.despues     altura        peso  var.por.media
hace.deporte
no              72.421053      72.315789  68.065789  141.122807       0.209479
si              73.600000      92.514286  69.778571  151.714286      26.215407

*4. Calcula el porcentaje medio de variaciÃ³n del pulso por minuto entre antes y despuÃ©s de hacer ejercicio  para los estudiantes que hacen ejercicio habitualmente y compara el valor de los hombres con el de las mujeres. Â¿Observas mucha diferencia?*

In [42]:
df2 = df.rename(columns = {'hace.deporte': 'hacedeporte'})

df2.groupby(['hacedeporte','genero']).mean()  # las mujeres tienen el doble de porcentaje de variaciÃ³n que los hombres

                    pulso.antes  pulso.despues     altura        peso  \
hacedeporte genero
no          H         70.545455      70.545455  70.409091  155.545455
            M         75.000000      74.750000  64.843750  121.291667
si          H         70.250000      83.208333  71.229167  162.000000
            M         80.909091     112.818182  66.613636  129.272727

                    var.por.media
hacedeporte genero
no          H            0.249970
            M            0.153805
si          H           19.176886
            M           41.572181

*5. Calcula el porcentaje medio de variaciÃ³n del pulso por minuto entre antes y despuÃ©s de hacer ejercicio para los estudiantes que no hacen ejercicio habitualmente y compara el valor de los fumadores con los no fumadores. Â¿Observas mucha diferencia?*

In [45]:
df2.groupby(['hacedeporte','fuma']).mean()  # no, no hya mucha diferencia. esta no excede, en promedio, ni el 1%.

                  pulso.antes  pulso.despues     altura        peso  \
hacedeporte fuma
no          no      71.707317      71.512195  68.079268  138.195122
            si      74.250000      74.375000  68.031250  148.625000
si          no      72.347826      93.695652  69.478261  148.869565
            si      76.000000      90.250000  70.354167  157.166667

                  var.por.media
hacedeporte fuma
no          no        -0.064761
            si         0.912219
si          no        29.412181
            si        20.088258

*6. Calcula el porcentaje medio de variaciÃ³n del pulso por minuto entre antes y despuÃ©s de hacer ejercicio de todos los estudiantes segÃºn el tipo de actividad fÃ­sica que realizan. Â¿Observas alguna diferencia?*

In [47]:
df2.groupby('tipo.actividad').mean()  # los que tienen mayor variaciÃ³n promedio son los que tienen nula y moderada, mientras que los que varÃ­an menos que el 4% son los de actividad intensa y suave

,pulso.antes,pulso.despues,altura,peso,var.por.media
tipo.actividad,,,,,
intensa,71.571429,72.190476,69.571429,147.285714,1.347475
moderada,72.737705,82.786885,68.377049,143.754098,14.015695
nula,48.000000,54.000000,68.000000,150.000000,12.500000
suave,79.555556,82.222222,69.111111,149.111111,3.747241