# Funciones en Python

In [5]:
def suma(x,y):                       # definimos la función suma
    return x+y                       # hay que preservar el tabulador, no lleva paréntesis
                                     # Este es un ejemplo de la función suma.

In [3]:
                                     # ahora si la quiero declarar como método debo de asignarlas a una clase
class Operaciones(object):           # Creamos la clase 'Operaciones' y dentro de un paréntesis ponemos 'object'
    def suma(self, x,y):             # ahora, definimos el "método de suma para la clase 'operaciones'" .Ponemos self(siempre se pone primero) y los objetos del método
        self.resultado = x+y         # definimos la variable resultado que depende de self
        return self.resultado        # quién se ha quedado con la operación

In [7]:
suma(5,19)                           # invocar la definición d ela función 'suma'. Esta es más genérica

24

In [9]:
operInstance = Operaciones()     # método suma, creamos una instancia, ahora puedo acceder al método de esa clase
operInstance.suma(3,4)

7

In [23]:
def saludar():
    name = str(input("Introduce tu nombre "))
    if name:
        print("Hola, "+name)
    else:
        print("Hola, estoy programando!")

In [18]:
saludar()

Hola, estoy programando!

In [24]:
saludar()

Introduce tu nombre kl
Hola, kl

In [26]:
suma(2,5) + 5 # return, permikte la expresión de un valor y la consecuente operación

12

In [33]:
def buscaPares():
    for x in range(10):
        if x % 2 == 0:
            return
        print("fin de la ejecución")

In [38]:
def sumaresta(x,y = 0):   # en caso de no pomer el valor y le asigno un número
    suma = x + y
    resta = x - y
    return (suma, resta)   # dos valores de retorno en paréntesis pero es opcional (el paréntesis)

In [37]:
sumaresta(y = 2, x = 3)

(5, 1)

In [39]:
sumaresta(1) # demos cuando y = 0 por defecto

(1, 1)

In [41]:
def suma(*args): # args significa argumento de longitud variable
    return sum(args) # función sum() nativa de python

In [43]:
suma(1,2,3,4,5,6) # suma de elementos

21

In [45]:
suma(1,2,3,4,5,6,7,110.5)

138.5

In [46]:
def sumcuadrados(*datos):
    total = 0    # inicializa la suma en 0
    for d in datos:
        total = total + d**2
        
    return total

In [47]:
sumcuadrados(2,5,5)

54

In [49]:
sumcuadrados(2.5, 3.6, 8.9, -2, 12.67)

262.9489

In [50]:
total # esta variable no puede encontrarse  ya que se encuentra en el cuerpo de la función 'sumcuadrados'

NameError: name 'total' is not defined

# Funciones anónimas

In [ ]:
# son funciones que no necesitan declararse con la palabra reservada 'def', comienzan con la palabra lambda

In [51]:
doble = lambda x: x*2

In [52]:
doble(4)

8

In [55]:
cuadrado = lambda x: x**2

In [56]:
cuadrado(5)

25

In [58]:
suma = lambda x, y : x + y

In [59]:
suma(2,6)

8

In [ ]:
# Para qué existen, filtración de datos para resumen de datos. ellas requieren de una librería

In [60]:
from functools import reduce

In [61]:
data  = [1,2,3,4,5,6,7,8,9,10]

In [62]:
filtered_data = list(filter(lambda x: (x*2>8), data))

In [63]:
filtered_data

[5, 6, 7, 8, 9, 10]

In [64]:
mapped_data = list(map(lambda x: x*2, data))   # transformación de 'data' con map

In [65]:
mapped_data

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [66]:
reduced_data = reduce(lambda x,y: x + y,data) # reduce la info operando de forma sucesiva

In [67]:
reduced_data

55